body {
    margin: 0;
    padding: 60px 30px;
    background-color:rgb(6, 39, 61);
    color: white;
    
}
.container {
    width: 400px;
    padding: 60px 40px ;
    margin: 40px auto;
    background-color: rgb(65, 65, 168);
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1{
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 38;
    font-weight: bold;
}
#heading-second {
    color: aqua;
}
#container{
    display: flex;
    justify-content:flex-start;
}
button {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}
.password-boxes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#output-pass {
   background-color: #1d2635;
    text-align: center;
    color: #eef3f8;
    padding: 12px 0;
    width: 100%;
    border-radius: 8px;
    font-family: monospace;
    font-size: 14px;
}

#copy-btn{
margin: 0px auto;
width: 100%;
}

#security-checklist{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
    padding: 15;
    background-color: #1d2635;
    border-radius: 8px; 
    color: #eef3f8;
}

input[type="range"]{
    width:100%;
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}

